<!DOCTYPE html>
<html lang="en">
  <head>
   {{>headerLinks}}
  </head>
  <body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <img
                  src="images/bg4.jpeg"
                  alt="kartik"
                  class="img-fluid"
                  title="kartikSwain"
                />
              </figure>
            </div>

            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>
                I am A <span class="text-clr">Mern Stack Developer</span> and a
                Gamer
              </h1>
              <a href="https://swaindibakar.netlify.app/" target="_blank"
                ><button>About Me</button></a
              >
            </div>
            <!-- right side div -->
          </div>
        </div>
      </div>
    </div>

    <!-- footer code -->

    {{>footer}}
  </body>
</html>
